<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><img src="../../../assets/images/cerc 11.png" style="margin:0; height:80%; width:80%;"
            class="d-inline-block align-top"></li>
        <li><a href="#" class="nav-link px-2 text-secondary" routerLinkActive="active" routerLink="/home">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white" routerLinkActive="active" routerLink="/about">About</a></li>
        <li *ngIf="isUserAdmin"><a href="#" class="nav-link px-2 text-white" routerLinkActive="active" routerLink="/products">Products
            Admin</a></li>
        <li><a href="#" class="nav-link px-2 text-white" routerLinkActive="active"
            routerLink="/allProducts">Products</a></li>
      </ul>

      <!-- <form class="col-3 col-lg-auto mb-3 mb-lg-0 me-lg-4" role="search">
        <input type="search" id="searchName" class="form-control form-control-dark text-bg-dark"
          placeholder="Search product..." required>
      </form> -->
      <div *ngIf="isAuthenticated" class="col-3 col-lg-auto mb-3 mb-lg-0 me-lg-4"> <span>Welcome
          {{user.firstName}}</span></div>

      <div *ngIf="isAuthenticated">
        <a routerLinkActive="active" class="text-bg-dark" routerLink="/cart"><i class="fa"><i
              class="fa fa-shopping-cart fa-lg fa-2x"></i></i></a>
        <span *ngIf="numberOfCartItems>0" class='badge badge-warning' id='lblCartCount'>{{numberOfCartItems}}
          <!-- need to fix this  UPDATE: I think it is fixed-->
        </span>
      </div>
      <!-- <i class="fa badge nav-link "  style="font-size:large" value=5 ><i class="fa fa-shopping-cart fa-lg fa-2x"></i></i> -->
      <!-- <a href="#" class="nav-link px-2 text-white" routerLinkActive="active" routerLink="/cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a> -->

      &nbsp; &nbsp;
      <div class="text-end">
        <button *ngIf="!this.isAuthenticated" type="button" class="btn btn-outline-light me-2" routerLinkActive="active"
          routerLink="/login">Login</button>
        <button *ngIf="this.isAuthenticated" type="button" class="btn btn-outline-light me-2"
          (click)="logout()">Logout</button>
        <button *ngIf="!this.isAuthenticated" type="button" class="btn btn-warning" routerLinkActive="active"
          routerLink="/register">Sign-up</button>
      </div>
    </div>
  </div>
</header>